body {
  margin: auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  margin: 1px 5;
  padding: 10px;
  width: 100%;
  min-height: 200px;
  border: 1px #ccc solid;
  color: #fff;
}

.full {
  width: 100%;
  height: 16rem;
}

.full_img {
  width: 100%;
  height: 10rem;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
}

.padding_img
{
width:350px;
height:350px;
padding: 3px 3px 3px;
margin: 0px 10px 0px;
border: 2px solid gray;
}

.label{
  background-color: #26DEDE !important;
}

.jumbotron {
  background-image: url("https://scontent-waw1-1.xx.fbcdn.net/v/t39.30808-6/277537795_526820005675120_7578079365287552206_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=rhEbQ-WBDT4AX82n6TE&_nc_ht=scontent-waw1-1.xx&oh=00_AT-HQ9hWmM-mBvFvifVMb17c4hLaJAyfXw1IZ7TpshbBQA&oe=6247876F");
  background-size: cover;
}


img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

